.wrapper {
  background: url("https://kc.demo.bigbluebutton.org/auth/resources/9djm1/login/keycloak/img/keycloak-bg.png")
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
